.numberbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;

  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  padding: 1rem 2rem 1rem 2rem;
  margin: 1rem;
  width: 60%;
  background-color: rgb(199, 217, 228);
}

.numberbox-header {
  height: 10%;
  font-size: 1.5rem;
}

.numberbox-number {
  font-size: 5rem;
  margin-top: 3rem;
}
