.faicons {
  padding-right: 1rem;
}

.singleTask {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
  font-style: italic;
}

.single-task-textarea {
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  background-color: transparent;
  color: white;
  font-size: 1.8rem;
  width: 400%;
  height: auto;
  font-family: "Open Sans", sans-serif;
  resize: none;
}

.single-task-textarea:focus {
  outline: none;
}
